 
#container {
  display: block;
  position: relative;
  padding-bottom: 5px; /* height of your footer */
  border-top:solid;
  border-color: black;
  border-width:6px;
  
}


.section1 {
  background-image: url(images/about/bg1.jpg);  
  height: 500px; 
  background-position:center; 
  background-repeat:no-repeat; 
  background-size:cover; 
}

.sec1box {
    background-color: white;
    width: 700px;
    padding-top: 200px 200px;
    margin-left: 60px;
    
}

.sec2box {
  background-color: white;
  width: 700px;
  padding-top: 200px 200px;
  margin-left: 360px;
  
}

.sec3box {
  
  margin-top: 360px;
  
}

  * {
    box-sizing: border-box;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column1{
    flex: 33%;
    padding: 5px;
    margin-left: 60px;
    
  }

  .column2{
    flex: 33%;
    padding: 5px;
    margin-right: 60px;
  }

  .column3{
    flex: 33%;
    padding: 5px;
    margin-left: 60px;
    margin-top: 140px;
  }

  .column4{
    flex: 33%;
    padding: 5px;
    margin-right: 60px;
  }

  .col-3 {width: 25%;}
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    border-radius: 80px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 7px;
    background-color: #455c64;
    color: wheat;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  #footer {
    height: 140px;
  position: absolute;
   bottom: 0;
   width: 100%;
   background-color: thistle;
  }

  /* Contact Page */
  section {
    margin-left: 250px;
  }

  .h1-responsive font-weight-bold my-4 {
    text-align: center;
  }

 
  .five {
      font-size: 60px;
      color:black;
      font-weight:bold;
      font-family: 'Amatic Sc', cursive;
      text-shadow: 4px 4px 2px white;
  }
 
  

  .card-footer {
      background-color: white;
      border:none;
  
  }
  
  
  
  #myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  }

  .copyright {
      font-weight:bold;
      text-align: center;
      font-family: 'Amatic Sc', cursive;
      font-size: 30px;
  }
  
 
  .blogp {
      text-align: center;
      font-family:'Amatic Sc', cursive;
      font-size: 50px;  
      text-decoration: underline;
  }
 
  .stamp{
      text-align:center;
      font-size: 15px;
      color:#778899;
  }
  
  .writing {
      text-align:justify;
      padding-left: 80px;
      padding-right: 80px;
  }
  
  .updateblog {
      text-align: center;
      font-family:'Amatic Sc', cursive;
      font-size: 50px;  
      border-top: solid black 8px;
      padding-top: 20px;
     
      
  }
  
  h5{
      text-align: center;
  }
  
 